@page "/"

@inherits ExampleBase

<h3>Example Item</h3>

@if (Characters == null)
{
    <p>Loading...</p>
}
else
{
    foreach (var character in Characters)
    {
        <p><strong>ID:</strong> @character.Id</p>
        <p><strong>Name:</strong> @character.Name</p>
    }

}

<button class="btn btn-primary" @onclick="LoadCharacters">Reload</button>